body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b1220;
    color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #111827;
    padding: 30px;
    border-radius: 12px;
    width: 320px;
    text-align: center;
}

.logo {
    font-size: 40px;
    margin-bottom: 10px;
}

.card input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn {
    padding: 10px;
    width: 48%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.blue { background: #2563eb; color: white; }
.orange { background: #f97316; color: white; }

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    background: #020617;
}

.leave-btn {
    background: #dc2626;
    border: none;
    padding: 6px 12px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.chat-box {
    padding: 20px;
    height: calc(100vh - 130px);
    overflow-y: auto;
    background: #1f2937;
}

.message {
    margin: 10px 0;
    padding: 10px;
    max-width: 60%;
    border-radius: 10px;
}

.me {
    background: #16a34a;
    margin-left: auto;
}

.other {
    background: #374151;
}

.input-bar {
    display: flex;
    padding: 10px;
    background: #020617;
}

.input-bar input {
    flex: 1;
    padding: 12px;
    border-radius: 20px;
    border: none;
}

.input-bar button {
    margin-left: 10px;
    padding: 12px 16px;
    border-radius: 50%;
    border: none;
    background: #22c55e;
    cursor: pointer;
}
